sudo: true
language: php
php:
  - 5.6
  - 7.0
  - 7.1

matrix:
    fast_finish: true

branches:
  only:
    - /master/

before_install:
  - export SCRIPT_DIR=$TRAVIS_BUILD_DIR/.scripts

install:
  - $SCRIPT_DIR/travis_setup.sh
  - for D in $TRAVIS_BUILD_DIR/; do (cd $D; composer install) done

script:
  - $SCRIPT_DIR/line_endings.sh $TRAVIS_BUILD_DIR
  - for D in $TRAVIS_BUILD_DIR/; do (cd $D; vendor/bin/phpcs --standard=PSR2 src tests) done
  - for D in $TRAVIS_BUILD_DIR/; do (cd $D; vendor/bin/phpcpd --names *.php src) done
  - for D in $TRAVIS_BUILD_DIR/; do (cd $D; vendor/bin/phpunit --verbose) done

notifications:
  irc:
    channels:
      - "irc.freenode.org#islandora"
    on_success: change
    on_failure: always
    skip_join: true

after_success:
  - bash <(curl -s https://codecov.io/bash)
