language: php
php:
    - 5.5
    - 5.6
    - 7.0
    - hhvm

matrix:
    allow_failures:
        - php: hhvm

before_install:
  - composer install

script:
  - php vendor/bin/phpcs --standard=PSR2 src

notifications:
  irc: "irc.freenode.org#islandora"
