sudo: true
language: php
php:
  - 7.2
  - 7.3

matrix:
  fast_finish: true
  allow_failures:
    - php: 7.3

branches:
  only:
    - /main/
    - /^dev/

before_install:
  - export SCRIPT_DIR=$HOME/islandora_ci

install:
  - git clone https://github.com/Islandora/islandora_ci.git
  - for D in */; do (cd $D; composer install) done

script:
  - $SCRIPT_DIR/line_endings.sh $TRAVIS_BUILD_DIR
  - .scripts/tester

after_success:
  - bash <(curl -s https://codecov.io/bash)

notifications:
  slack:
    on_success: change
    on_failure: always
    secure: $SLACK_NOTIFICATION_KEY
